<div fxFlexFill>
  <as-split direction="horizontal" fxFlex>
    <as-split-area [size]="25">
      <h1>A</h1>
      <!-- <div style="position: relative; padding: 10px">
        <ul class="">
          <li *ngFor="let item of listOfChildren">
            <a
              [routerLink]="['', 'mtcms', 'edit', $any(item).id]"
              routerLinkActive="router-link-active"
              style="cursor: pointer">
              <span title="{{ $any(item).id }} - {{ $any(item).type }}">
                {{ $any(item).data[0].title }}</span
              > </a
            >,&nbsp;<br />
          </li>
        </ul>
      </div> -->
      <app-dnd></app-dnd>
    </as-split-area>
    <as-split-area [size]="75" style="overflow: hidden">
      <as-split direction="vertical">
        <as-split-area [size]="60" style="overflow: auto">
          <h1>B</h1>
          <!-- <div>
            <ul class="breadcrumb clearfix">
              <li *ngFor="let item of breadcrumb.slice().reverse()">
                <a
                  [routerLink]="['', 'mtcms', 'edit', $any(item).id]"
                  routerLinkActive="router-link-active"
                  style="cursor: pointer">
                  <span
                    title="{{ $any(item).id }} - {{
                      $any(item).type | uppercase
                    }}">
                    <span>&nbsp;>&nbsp;</span
                    >{{ $any(item).data[0].title }}</span
                  >
                </a>
              </li>
            </ul>
            <br />
            <span fxFlex [title]="currentNodeType"
              >{{ currentNodeTitle }} - ID={{ currentNodeId }}
            </span>
            <button (click)="root()" class="btn">
              <mat-icon>home</mat-icon>
            </button>
            <button (click)="create()" class="btn">
              <mat-icon>add</mat-icon>
            </button>
            <button (click)="update()" class="btn">
              <mat-icon>save</mat-icon>
            </button>
            <button (click)="delete()" class="btn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <app-form [value]="nodeFormData" [config]="nodeFormConfig"></app-form>
          <pre>{{ nodeFormConfig.controls | json }}</pre> -->
        </as-split-area>
        <as-split-area [size]="40" style="overflow: auto">
          <h1>C</h1>
          <!-- <app-model-edit [(value)]="data"></app-model-edit> -->
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>

<!-- <app-dialog [eventIn]=""> -->
<!-- <ng-template #mytemplate> -->
<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<!-- <div mat-dialog-content>
    <p>What's your favorite animal?</p>
    {{ data | json }}
     <mat-form-field appearance="fill"> 
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data.animal">
      </mat-form-field> 
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>True</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</ng-template>
</app-dialog> -->
