:host {
  button {
    margin: 0 !important;
    padding: 5px;
    min-width: 24px;
  }

  ul {
    // list-style-type: none;
  }

  li {
    float: left;
    padding: 3px;
  }

  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }
}
